@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @media (prefers-contrast: more) {
    body {
      color: CanvasText;
      background-color: Canvas;
    }
    a {
      color: LinkText;
    }
  }
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(136, 136, 136, 0.4) #163b3b;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #163b3b;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(136, 136, 136, 0.4); /* düşük opaklık */
    border-radius: 6px;
    border: 2px solid #163b3b;
    transition: background-color 0.2s ease-in-out;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0.9); /* daha canlı */
  }
}
